body{
 
}
table{
width: 100%;
}



th{
  
  text-align: center;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }

  #flip{
      font-size: 25px;
  }
  #TitTable{
      font-family: Arial, Helvetica, sans-serif;
  }

  img{
      width: 100px;
      border-radius: 1px;
  }